<div class="bar">
  <img
  src="../assets/blockonomics_black_logo.png"
  height="40"
  width="200"
  class="logo"
  />
</div>
<div class="row justify-content-center mt-4">
  <div class="col-md-8 col-lg-8 down">
    <h1 class="message pl-4">BLOCKONOMICS PRICE API <br> FIAT VALUE</h1>
    <div class="priceArea pl-4">
      <div class="from">
        <div class="input-group" style="margin-top:15px; padding:30px">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Currency</label>
          </div>
          <select (change)="handleCurrencyChange($event)" class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option *ngFor="let currency of currencies" value="{{currency}}">{{currency}}</option>
          </select>
        </div>
      </div>
      <div class="to">
        <input style="margin-top:15px; padding:30px" type="text" readonly class="form-control-plaintext" value="{{price}}">
      </div>
    </div>
  </div>
  <div class="col-md-4 col-lg-4">
      <img
      class="mt-4"
      height="250"
      width="400"
      src="../assets/images.png"
      />
  </div>
</div>
<router-outlet></router-outlet>
